<!DOCTYPE HTML>
<html>
<body>

    <form action="doLogin">
        <input type="hidden" value="{{.}}" name="service"/>
        <input type="text" name="username"/>
        <input type="text" name="password"/>
        <input type="submit" value="login"/>
    </form>


</body>
</html>